html{
	font-size: 50px;
}

#mobileHeader{
	flex: 1;
	background-color: #f6f6f6;
	padding-left: 5px;
}
#mobileHeader header{
	border-bottom: 1px solid #2db7f5;
}
#mobileHeader header img{
	height: 50px;
}
#mobileHeader header span{
	font-size: 35px;
	vertical-align: top;
	padding-left: 10px;
	color: #2db7f5;
}

#mobileHeader i{
	font-size: .5rem;
	float: right;
	margin-right: .3rem;
	margin-top: .3rem;
	color: #2db7f5;
}
.m_artical{
		margin:15px;
}
.m_artical_img{
	float: left;
	height: 60px;
	margin: 0 10px;
}
.m_artical_img img{
	height: 100%;
}
.m_artical_title{
	width: 100%;
	margin-bottom: 10px;
}
.m_artical_desc{
	width: 100%;
}
.m_artical_desc_l{
	float: left;
}
.m_artical_channel{
	border: 1px solid #ec7f7f;
	border-radius: 6px;
	background-color: #f4d5d5;
	margin: 16px 10px 10px 0;
	padding: 2px;
	font-size: 8px;
	color:#f00;
}
.carousel{
	width: 100%;
}
.carousel img{
	width: 100%;
}
.linkStyle{
	display: inline-block !important;
}
#headerLogo{
	display: inline-block;
}
